.bottomNav {
  position: fixed;
  left: 0;
  bottom: 0;
  
  width: 100%;
  padding: 1rem;

  display: flex;
  align-items: baseline;
  justify-content: space-between;

  z-index: 999;

  /* index and contact buttons */
  .actionButtons {
    display: flex;
    gap: 2rem;

    @media (max-width: 600px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  /* Misaal Logo container */
  .logo {
    @media (max-width: 600px) {
      display: none;
    }
  }

  /* General text and anchor tag sytling */
  a {
    font-size: clamp(12px, 1.5vw, 14px);

    @media (max-width: 600px) {
      text-transform: lowercase;
    }

    img {
      height: auto;
      width: clamp(30px, 5vw, 45px);
      display: block;
    }
  }
}