.productTile {
  height: 400px;
  aspect-ratio: 2 / 3;
  position: relative;
  cursor: pointer;

  img {
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .revealInfo {
    position: absolute;
    inset: 0;
    background-color: #ffffffCC;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h4 {
      font-weight: 400;
      
      &:first-child {
        text-transform: uppercase;
      }
    }

  }

  &:hover {
    .revealInfo {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }
}