/* COLOUR VARIABLES */
:root {
	/* Primary palette */
	--color-primary: #253b76;

	/* Secondary / accent */
	--color-secondary: #a61e25;

	/* Backgrounds */
	--color-background: #faf9f6;

	/* Text */
	--color-text: #0f0d0d;
	--color-text-muted: #e0dfdf;
	--color-text-inverse: #ffffff;

	/* Borders & dividers */
	--color-border: #0f0d0d;
	--color-border-strong: #cbd5e1;

	/* Semantic */
	--color-success: #22c55e;
	--color-warning: #f59e0b;
	--color-error: #ef4444;
	--color-info: #3b82f6;
}

/* RESET STYLES: Normalize + Custom Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor:
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3E%3Ccircle cx='5' cy='5' r='5' fill='black'/%3E%3C/svg%3E")
		5 5,
		auto;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100dvh;
	background-color: var(--color-background);
	color: var(--color-text);
	-webkit-tap-highlight-color: transparent;
}

a {
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1920px) {
}
