/* IntroAnimation.module.css */
.overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: none;

  .animationContainer {
    width: 66px;
    height: 100px;
  }
}
